@model SklepSportowy.Models.Produkt
@{
    ViewBag.Title = "ProduktSzczegoly";
}
<section class="sekcja-produkty floatfix">
    <h2>ProduktSzczegoly</h2>

    <div class="left">
        <img src="~/Content/Images/pilka.jpg" />

        <h1>Piłka</h1>
        <h3>59,00 zł</h3>

        @* @Html.BeginForm("DodajDoKoszyka", "Koszyk", new { Model.})*@

        <a href="@Url.Action("DodajDoKoszyka","Koszyk",new { produkt = Model })" ><input type="submit" value="Do koszyka" /></a>
    </div>
    <div class="right">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, aut incidunt! Ratione quas harum saepe iusto nemo error rem exercitationem, cumque veniam sequi nihil debitis unde numquam porro maiores itaque! Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Ipsa, aut incidunt! Ratione quas harum saepe iusto nemo error rem exercitationem, cumque veniam sequi nihil debitis unde numquam porro maiores itaque! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, aut
            incidunt! Ratione quas harum saepe iusto nemo error rem exercitationem, cumque veniam sequi nihil debitis unde numquam porro maiores itaque! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, aut incidunt! Ratione quas harum
            saepe iusto nemo error rem exercitationem, cumque veniam sequi nihil debitis unde numquam porro maiores itaque!
        </p>
    </div>
    <div style="clear: both"></div>
</section>