@model IEnumerable<SklepSportowy.Models.PozycjaKoszyka>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div id="koszyk">
    <table>
       <thead>
           <tr>
               <th></th>
               <th>Nazwa</th>
               <th>Cena</th>
               <th>Ilość</th>
               <th>Wartość</th>
           </tr>
       </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="Images/pilka.jpg" alt="pilka" width="127" height="122" /></td>
                    <td>@item.Produkt.NazwaProduktu</td>
                    <td>@item.Produkt.CenaProduktu</td>
                    <td>@item.Ilosc</td>
                    <td>59.00 zł</td>
                    @*<td>@Html.Action("WartoscKoszyka","Koszyk")</td>*@
                    <td><input type="submit" value="Usuń"></td>

                </tr>
            }
            <tr>
                <td colspan="4"></td>
                <td><input type="submit" value="Kontynuj zakupy"></td>
                <td><input type="submit" value="Zapłać"></td>

            </tr>
        </tbody>
    </table>
</div>